<!DOCTYPE html>
<html>
  <head>
    <title>WaitingList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="banner mb-5">
      <div class="container">
        <h1>CoWork Space</h1>
        <p>Apply here and join us !</p>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
